/ {
    chosen {
		zephyr,display = &ili9341;
    };

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		dc-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
		spi-dev = <&spi3>; //VSPI
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		ili9341: ili9341@0 {
			compatible = "ilitek,ili9341";
			mipi-max-frequency = <4000000>;
			reg = <0>;
			pixel-format = <0>;
			rotation = <0>;
			width = <240>;
			height = <320>;
		};
	};
};